apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

bases:
  - ../../base

# ArgoCD Image Updater writes the image tag here automatically
# when a new signed image is detected in ECR.
images:
  - name: YOUR_ACCOUNT.dkr.ecr.us-east-1.amazonaws.com/myapp
    newTag: latest

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: dev
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 50m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 64Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 100m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 128Mi
    target:
      kind: Deployment
      name: myapp
  - patch: |-
      - op: replace
        path: /spec/minReplicas
        value: 1
      - op: replace
        path: /spec/maxReplicas
        value: 2
    target:
      kind: HorizontalPodAutoscaler
      name: myapp
  - patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: dev.myapp.example.com
    target:
      kind: Ingress
      name: myapp